In [1]:
import pandas as pd
import numpy as np

In [2]:
df_temposv = pd.read_csv('datasets/df_temposv.csv', index_col = 'Unnamed: 0')
df_tempost = pd.read_csv('datasets/df_tempost.csv', index_col = 'Unnamed: 0')
df_temposm = pd.read_csv('datasets/df_temposm.csv', index_col = 'Unnamed: 0')

In [3]:
df_temposv = df_temposv[[ '1', '2', '3', '4', '5']]
df_tempost = df_tempost[[ '1', '2', '3', '4', '5']]
df_temposm = df_temposm[[ '1', '2', '3', '4', '5']]

In [4]:
df_temposv['tmedio'] = df_temposv.mean(axis = 1)
df_tempost['tmedio'] = df_tempost.mean(axis = 1)
df_temposm['tmedio'] = df_temposm.mean(axis = 1)

In [5]:
df_temposv.to_csv('datasets/df_temposv.csv')
df_tempost.to_csv('datasets/df_tempost.csv')
df_temposm.to_csv('datasets/df_temposm.csv')

In [6]:
df_temposv

          1       2       3       4      5   tmedio
0     57.25   40.19  232.63   12.35  16.17   71.718
1     98.60  181.82   26.39   26.86  51.70   77.074
2    124.65  217.88  188.12   40.08  33.51  120.848
3    125.72  142.05   26.45  163.99  43.82  100.406
4    126.19    9.34   53.62   98.62  55.61   68.676
..      ...     ...     ...     ...    ...      ...
104  126.03   94.85   59.91   49.22  21.86   70.374
105   48.13   98.52   53.07   58.73  15.55   54.800
106   68.51   72.47   15.25   12.69  53.31   44.446
107   14.76   21.94   27.74   51.69  86.71   40.568
108  109.26   22.99   25.47    5.79   5.66   33.834

[109 rows x 6 columns]